body {
    nav {
        background-color: orange;
        padding: 10px;
        border-radius: 4px;
        list-style-type: none;
        
        a {
            width: 33%;
            display: inline-block;
            text-align: center;
            transition: 0.3s ease-out all;
        }
    }

    footer {
        background: green;
        padding: 10px;
        border-radius: 4px;
        }
    
        .dropdown {
            position: relative;
            display: inline-block;
          }
          
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
          }
          
          .dropdown:hover .dropdown-content {
            display: block;
          }
}