body .menu {
  height: 100px;
  font-style: normal;
  font-size: 25px;
  line-height: 1.8;
  background-color: orange;
  padding: 10px;
  border-radius: 4px;
  list-style-type: none; }
  body .menu a {
    width: 5%;
    display: inline-block;
    text-align: center;
    transition: 0.3s ease-out all; }
  body .menu .dropdown {
    position: relative;
    display: inline-block; }
  body .menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: orange;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 3px 5px;
    border-radius: 20px 20px;
    z-index: 1; }
  body .menu .dropdown:hover .dropdown-content {
    display: block; }

body .footer {
  background: green;
  padding: 10px;
  border-radius: 4px; }

body .table1 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%; }

body td,
body th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px; }

body tr:nth-child(even) {
  background-color: #dddddd; }
