// Project variables1
@import "src/styles/variables.scss";

// Bootstrap and its default variables
@import "./node_modules/bootstrap/scss/bootstrap";

.block-primary {
    background: green;
    height: 200px;
    border: 2px solid orange;
}